#funcionarios-page {
    height: 100vh;
    width: 100%;
    
}

#funcionarios-body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: var(--background-color);
    padding: 1rem;
}

#funcionarios-cabecalho {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem 0 2rem 0;
}

#btn-add-funcionario {
    width: 10%;
    border-radius: 0.5rem;
}

button {
    width: auto;
    height: auto;
    font-size: 1rem!important;
}

#btn-editar-funcionario {
    background-color: var(--background-tertiary-color);
}

#btn-rmv-funcionario {
    background-color: var(--alert-color);
}

#btn-add-funcionario {
    background-color: var(--warning-color);
    padding: 1rem;
    width: fit-content;
}


